
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MustyGames</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/light-box.css">
    <link rel="stylesheet" href="css/templatemo-main.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

    <div class="sequence">

        <div class="seq-preloader">
            <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z" /><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z" /><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z" /></g></svg>
        </div>

    </div>


    <nav>
        <div class="logo">
            <img src="img/musty.png" alt="">
        </div>
        <ul>
            <li><a href="#1"><i class="fa fa-home"></i> <em>Anasayfa</em></a></li>
            <li><a href="#2"><i class="fa fa-user"></i> <em>Hakkımda</em></a></li>
            <li><a href="#3"><i class="fa fa-pencil"></i> <em>Ön bilgi</em></a></li>
            <li><a href="#4"><i class="fa fa-gamepad"></i> <em>Oyunlarım</em></a></li>
            <li><a href="#5"><i class="fa fa-envelope"></i> <em>İletişim</em></a></li>
        </ul>
    </nav>

    <div class="slides">
        <div class="slide" id="1">
            <div class="content first-content">
                <div class="container-fluid">
                    <div class="col-md-3">
                        <div class="author-image"><img src="img/benn.jpg" alt=""></div>
                    </div>
                    <div class="col-md-9">
                        <h2>Musty Games</h2>
                        <p>Oyun oynamayı seven <em>bir genç</em>. Hadi birlikte oynayalım! Beni <em>Steam uygulamasından</em> eklemeyi unutma!</p>
                        <div class="main-btn"><a href="#2">Hakkımda</a></div>
                        <div class="fb-btn"><a href="https://steamcommunity.com/profiles/76561198347625402/" target="_blank">Steam Hesabım</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="2">
            <div class="content second-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="left-content">
                            <h2>Hakkımda</h2>
                            <p>Merhaba, ben Muhammed Mustafa Çakır. Bilgisayar mühendisliği bölümü üçüncü sınıf öğrencisiyim ve teknolojiyle ilgilenmek benim tutkum. Benim hayalim, bu alanda kendimi geliştirerek bir uzman olmak ve dünya çapında teknoloji projelerine imza atmak.</p>
                            <p>Video oyunları benim için stres atmak ve zihnimin rahatlaması açısından büyük bir önem taşıyor. Ayrıca, farklı türlerdeki video oyunlarını oynayarak problem çözme ve strateji geliştirme becerilerimi de geliştiriyorum. Ben, video oyunlarının da bir sanat dalı olduğuna inanıyorum ve birçok video oyununun müzik, grafikler ve hikaye anlatımı açısından büyük bir kaliteye sahip olduğunu düşünüyorum.</p>
                            <p>Benim için video oyunları sadece bir hobiden ibaret değil, aynı zamanda bir tutku ve bir yaşam biçimidir. Bu nedenle bu alanda kendimi geliştirmek ve diğer oyun hayranlarıyla paylaşmak için bu siteyi oluşturmak benim için çok önemli.</p>
                            <p> Bu siteyi oluşturmaya karar verdim çünkü beğendiğim oyunları daha geniş bir kitleye ulaştırma hedefindeyim.Oyunlarda karşılaşmak dileğiyle!</p>
                            <div class="main-btn"><a href="#3">Ön Bilgi</a></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <img src="~/img/20221107_105143.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <h2>Neden Oyun Oynarız?</h2>
                                                <p>
                                                    İnsanlar neden video oyunları oynar? Bu sorunun cevabı oldukça kişisel ve değişken olabilir. Ancak özetlemek gerekirse, oyunlar bize eğlence, stres atma ve kaçış imkanı sunar. Ayrıca sosyalleşmek için bir araç olarak da kullanılabilirler. Oyunlar farklı dünyalara, karakterlere ve hikayelere dalmanızı sağlayarak hayal gücünüzü geliştirir. Buna ek olarak oyunlar stratejik düşünme, problem çözme ve el-göz koordinasyonu gibi becerileri geliştirebilir.

                                                    Ancak her şeyde olduğu gibi, video oyunlarının aşırıya kaçması olumsuz etkileri de olabilir. Oyun bağımlılığı diğer bağımlılıklar gibi, sosyal hayatınızı, iş hayatınızı ve genel sağlığınızı etkileyebilir. Bu nedenle oyun oynama alışkanlıklarınızı dengeli bir şekilde yönetmek önemlidir.

                                                    Sonuç olarak, video oyunları bize birçok fayda sağlar. Eğlenceli bir zaman geçirmenin yanı sıra hayal gücümüzü geliştirir, becerilerimizi artırır ve bize sosyal bir ortam sunar. Ancak her şeyde olduğu gibi, oyunları da aşırıya kaçmadan ve dengeli bir şekilde oynamak önemlidir.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="img/savas.jpg" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="img/nfs.png" alt="second service">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                <h2>Web Sitemin Amacı ?</h2>
                                                <p>Web sitemi sevdiğim oyunları tanıtıp onlar hakkında ufak bilgiler vermek ve okuyan kişilerin aklında bir fikir oluşması amacıyla tasarladım.Tanıtım kutucuklarının üzerine basınca ilgili oyunun <u><em>farklı</em></u> tanıtım görseli karşınıza çıkıyor ve <u><em>görseli kapatmadan</em></u> ileri-geri istediğimiz yönde fotoğraflar arasında gezinebiliyorsunuz.Beğendiğiniz oyunları beraber oynamak isterseniz ana sayfamdan <em><u>steam</u></em> hesabımdan beni ekleyebilirsiniz. İyi eğlenceler!  </p>
                                                <div class="main-btn"><a href="#4">Oyunlarım</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="4">
            <div class="content fourth-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/bf5.png" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Battlefield V</h2>
                                                <p>Battlefield V, II. Dünya Savaşı dönemini konu alan birinci şahıs nişancı oyunudur. Oyuncular gerçek hayattaki tarihi mekanlardan esinlenen savaş alanlarında gerçekçi silahlar ve stratejik savaş taktikleri kullanarak mücadele ederler. Dinamik oyun ortamı ile keyifli bir oyun deneyimi sunar.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/bf-small.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/csgo.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Counter Strike:Global Offensive</h2>
                                                <p>CS:GO, Valve tarafından geliştirilmiş bir birinci şahıs nişancı oyunudur. Oyuncular teröristler ve anti-teröristler arasında farklı modlar ve haritalarda mücadele eder. Rekabetçi oyun modu ile popüler olan CS:GO, takım çalışması ve stratejik düşünme becerisi gerektirir.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/csgo1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/dl.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Dying Light</h2>
                                                <p>Dying Light, Techland tarafından geliştirilen açık dünya hayatta kalma-korku oyunudur. Gündüz kaynak toplanır, gece daha güçlü zombilerle hayatta kalmak zorlaşır. Karakterler geliştirilebilir, kooperatif oyun mümkündür. Dinamik oynanışı ve zombi teması ile heyecan verici bir deneyim sunar.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/dl1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/lol.jpeg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>League Of Legends</h2>
                                                <p>League of Legends (LoL), Riot Games tarafından geliştirilen, çok oyunculu bir çevrimiçi savaş arenası oyunudur. İki takım, rakip üssüne doğru ilerleyerek zafer kazanmaya çalışır. Oyuncular, kendilerine özgü şampiyonları seçerek oynayabilir ve takım çalışması galibiyet için oldukça önemlidir.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/lol1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/gta1.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Grand Theft Auto V</h2>
                                                <p>Grand Theft Auto V (GTA 5), Rockstar North tarafından geliştirilen bir açık dünya aksiyon-macera oyunudur. Üç farklı karakteri yöneterek, Los Santos adlı kurgusal bir şehirde soygunlar yapar, yarışlar yapar ve diğer etkinliklere katılırız. Oyun, geniş bir açık dünya haritası, detaylı grafikleri ve heyecan verici oynanışıyla tanınır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/gta.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/detroit1.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Detroit: Become Human</h2>
                                                <p>Detroit: Become Human, Quantic Dream tarafından geliştirilen bir interaktif drama oyunudur. Oyuncular, üç farklı android karakteri kontrol eder ve hikayenin akışını oyuncunun seçimlerine göre değiştirir. Oyun, üstün grafikleri, ilginç hikayesi ve etkileşimli oynanışı ile tanınır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/detroit.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/valorant.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Valorant</h2>
                                                <p>Valorant, Riot Games tarafından geliştirilen ücretsiz bir çok oyunculu birinci şahıs nişancı oyunudur. İki takım, birbirlerine karşı savaşarak hedefleri tamamlamaya çalışır. Oyuncular, özel yetenekleri olan karakterleri seçebilir ve taktiksel hareketlerle rakiplerini alt etmeye çalışır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/valorant1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/bf1.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Battlefield 1</h2>
                                                <p>Battlefield 1, DICE tarafından geliştirilen birinci şahıs nişancı oyunudur. Birinci Dünya Savaşı atmosferinde geçen oyun, oyunculara farklı savaş araçlarını kullanma ve savaş meydanlarında stratejik pozisyonlar alarak savaşma fırsatı sunar. Oyun, görsel detayları, gerçekçi atmosferi ve heyecan verici savaş sahneleriyle tanınır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/bf.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/crysis3.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Crysis Remastered</h2>
                                                <p>Crysis Remastered, Crytek tarafından geliştirilen birinci şahıs nişancı oyunudur. Oyuncular, nanoteknolojik bir kıyafet giyen bir askeri kontrol ederek, yüksek teknolojili silahlarla donatılmış bir adada çeşitli görevleri tamamlarlar. Oyun, gelişmiş grafikleri, açık dünya haritası ve heyecan verici oynanışıyla tanınır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/crysis.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/forza5.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Forza Horizon 5</h2>
                                                <p>Forza Horizon 5, Playground Games tarafından geliştirilen bir yarış oyunudur. Meksika'nın çeşitli bölgelerinde geçen oyunda oyuncular, çeşitli yarışlar ve etkinliklerde yarışarak araba koleksiyonlarını genişletirler. Oyun, gerçekçi grafikleri, geniş açık dünya haritası ve farklı hava koşulları deneyimleri ile tanınır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/forza.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/rdr.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Red Dead Redemption II </h2>
                                                <p>Red Dead Redemption II, Rockstar Games tarafından geliştirilen bir açık dünya aksiyon-macera oyunudur. Oyuncular, çetelerle savaşarak vahşi batıdaki hayatta kalma mücadelesinde Arthur Morgan adlı bir haydutu kontrol ederler. Oyun, gerçekçi grafikleri, geniş açık dünya haritası ve etkileyici hikayesiyle tanınır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/rdrr.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <div class="thumb">
                                    <a href="img/tomb1.jpg" data-lightbox="image-1">
                                        <div class="hover-effect">
                                            <div class="hover-content">
                                                <h2>Tomb Raider</h2>
                                                <p>Tomb Raider, Square Enix tarafından geliştirilen bir macera oyunudur. Oyuncular, cesur arkeolog Lara Croft'u kontrol ederek, kayıp medeniyetlerin kalıntılarını keşfederler. Oyun, gerçekçi grafikleri, zorlu bulmacaları ve aksiyon dolu hikayesi ile tanınır.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="image">
                                        <img src="img/tomb.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide" id="5">
            <div class="content fifth-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div id="map">                         
                            <img src="img/bf2042.jpg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form id="contact" action="@Url.Action("Index", "Mail")" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Adınız..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Email..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Konu..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Mesajınız..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Gönder</button>                                      
                                    </fieldset>
                                </div>
                            </div>                           
                        </form>
                        
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="content">
            <p>Musty Games. Muhammed Mustafa Çakır tarafından tasarlandı.</p>
        </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {



            // navigasyon tıklama hareketleri
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // üste kaydır
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');
            });

            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
             // kaydırma işlevi
        function scrollToID(id, speed){
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
    </script>
</body>
</html>